---
http_interactions:
- request:
    method: get
    uri: https://api.rasp.yandex.net/v3.0/carrier/?code=TK&system=iata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"carriers":[{"code":5483,"title":"AnadoluJet","codes":{"sirena":null,"iata":"TK","icao":"AJA"},"address":"Bakırköy/
        İstanbul","url":"http://www.anadolujet.com/","email":"musteri@anadolujet.com","contacts":"","phone":"444
        25 38","logo":"https://yastat.net/s3/rasp/media/data/company/logo/anadolujet.png","offices":[]},{"code":680,"title":"Turkish
        Airlines","codes":{"sirena":null,"iata":"TK","icao":"THY"},"address":"Bakırköy/
        İstanbul","url":"http://www.turkishairlines.com/","email":"","contacts":"","phone":"444
        08 49","logo":"https://yastat.net/s3/rasp/media/data/company/logo/thy_kopya.jpg","offices":[]}]}'
  recorded_at: Sun, 23 Oct 2022 08:29:12 GMT
recorded_with: VCR 6.1.0
