---
http_interactions:
- request:
    method: get
    uri: https://api.rasp.yandex.net/v3.0/nearest_settlement/?lat=55.73397&lng=37.58678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"settlement","title":"Москва","short_title":"Москва","popular_title":"Москва","code":"c213","lat":55.753676,"lng":37.619899,"distance":3.016378011063095}'
  recorded_at: Sun, 23 Oct 2022 08:19:22 GMT
recorded_with: VCR 6.1.0
