---
http_interactions:
- request:
    method: get
    uri: https://api.rasp.yandex.net/v3.0/nearest_stations/?distance=10&lat=55.73397&lng=37.58678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{"total":97,"limit":100,"offset":0},"stations":[{"type":"station","title":"м.
        Киевская","short_title":null,"popular_title":null,"code":"s9744762","lat":55.743556,"lng":37.567633,"station_type":"bus_stop","station_type_name":"автобусная
        остановка","transport_type":"bus","distance":1.6044402946141685,"majority":2,"type_choices":{"schedule":{"desktop_url":"https://rasp.yandex.ru/station/9744762/schedule","touch_url":"https://t.rasp.yandex.ru/station/9744762/schedule"}}},{"type":"station","title":"м.
        Октябрьская, радиальная","short_title":null,"popular_title":null,"code":"s9848574","lat":55.7310528259,"lng":37.612112008,"station_type":"bus_stop","station_type_name":"автобусная
        остановка","transport_type":"bus","distance":1.6193015470823315,"majority":4,"type_choices":{"schedule":{"desktop_url":"https://rasp.yandex.ru/station/9848574/schedule","touch_url":"https://t.rasp.yandex.ru/station/9848574/schedule"}}},{"type":"station","title":"м.
        Октябрьская, кольцевая","short_title":null,"popular_title":null,"code":"s9848573","lat":55.728776424,"lng":37.6113395318,"station_type":"bus_stop","station_type_name":"автобусная
        остановка","transport_type":"bus","distance":1.6430253313533918,"majority":4,"type_choices":{"schedule":{"desktop_url":"https://rasp.yandex.ru/station/9848573/schedule","touch_url":"https://t.rasp.yandex.ru/station/9848573/schedule"}}},{"type":"station","title":"Москва
        (Киевский вокзал)","short_title":"М-Киевская","popular_title":"Киевский вокзал","code":"s2000007","lat":55.742799,"lng":37.565187,"station_type":"train_station","station_type_name":"вокзал","transport_type":"train","distance":1.6710833940539933,"majority":1,"type_choices":{"aeroex":{"desktop_url":"https://rasp.yandex.ru/station/2000007/aeroex","touch_url":"https://t.rasp.yandex.ru/station/2000007/aeroex"},"suburban":{"desktop_url":"https://rasp.yandex.ru/station/2000007/suburban","touch_url":"https://t.rasp.yandex.ru/station/2000007/suburban"},"tablo":{"desktop_url":"https://rasp.yandex.ru/station/2000007/tablo","touch_url":"https://t.rasp.yandex.ru/station/2000007/tablo"},"train":{"desktop_url":"https://rasp.yandex.ru/station/2000007/train","touch_url":"https://t.rasp.yandex.ru/station/2000007/train"}}},{"type":"station","title":"Лужники","short_title":"","popular_title":"","code":"s9855172","lat":55.720884,"lng":37.560263,"station_type":"station","station_type_name":"станция","transport_type":"train","distance":2.2084053831395294,"majority":4,"type_choices":{"suburban":{"desktop_url":"https://rasp.yandex.ru/station/9855172/suburban","touch_url":"https://t.rasp.yandex.ru[...]
