---
http_interactions:
- request:
    method: get
    uri: https://api.rasp.yandex.net/v3.0/search/?from=s9848585&to=s9848577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"search":{"from":{"type":"station","title":"м. Китай-Город","short_title":null,"popular_title":null,"code":"s9848585","station_type":"bus_stop","station_type_name":"автобусная
        остановка","transport_type":"bus"},"to":{"type":"station","title":"Пушкинская
        площадь","short_title":null,"popular_title":null,"code":"s9848577","station_type":"bus_stop","station_type_name":"автобусная
        остановка","transport_type":"bus"},"date":null},"segments":[{"thread":{"number":"Н1","title":"м.
        Китай-Город — Аэропорт Шереметьево  (автобусы)","short_title":"м. Китай-Город
        — Аэропорт Шереметьево  (автобусы)","express_type":null,"transport_type":"bus","carrier":{"code":55874,"title":"ГУП
        \"Мосгортранс\"","codes":{"sirena":null,"iata":null,"icao":null},"address":null,"url":null,"email":null,"contacts":null,"phone":"+7
        (495) 953-00-61","logo":null,"logo_svg":null},"uid":"N1_0_9848585_4","vehicle":null,"transport_subtype":{"title":"Автобус","code":"bus","color":"#ff0000"},"thread_method_link":"api.rasp.yandex.net/v3/thread/?date=2022-10-23&uid=N1_0_9848585_4"},"stops":"","from":{"type":"station","title":"м.
        Китай-Город","short_title":null,"popular_title":null,"code":"s9848585","station_type":"bus_stop","station_type_name":"автобусная
        остановка","transport_type":"bus"},"to":{"type":"station","title":"Пушкинская
        площадь","short_title":null,"popular_title":null,"code":"s9848577","station_type":"bus_stop","station_type_name":"автобусная
        остановка","transport_type":"bus"},"departure_platform":"","arrival_platform":"","departure_terminal":null,"arrival_terminal":null,"duration":480.0,"days":"ежедневно","except_days":"","departure":"01:00:00","arrival":"01:08:00","start_date":"2022-10-23"},{"thread":{"number":"Н1","title":"м.
        Китай-Город — Аэропорт Шереметьево  (автобусы)","short_title":"м. Китай-Город
        — Аэропорт Шереметьево  (автобусы)","express_type":null,"transport_type":"bus","carrier":{"code":55874,"title":"ГУП
        \"Мосгортранс\"","codes":{"sirena":null,"iata":null,"icao":null},"address":null,"url":null,"email":null,"contacts":null,"phone":"+7
        (495) 953-00-61","logo":null,"logo_svg":null},"uid":"N1_1_9848585_4","vehicle":null,"transp[...]
