---
http_interactions:
- request:
    method: get
    uri: https://api.rasp.yandex.net/v3.0/schedule/?station=s9848585
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"date":null,"station":{"type":"station","title":"м. Китай-Город","short_title":null,"popular_title":null,"code":"s9848585","station_type":"bus_stop","station_type_name":"автобусная
        остановка","transport_type":"bus"},"event":"departure","pagination":{"total":22,"limit":100,"offset":0},"schedule":[{"thread":{"number":"Н1","title":"м.
        Китай-Город — Аэропорт Шереметьево  (автобусы)","short_title":"м. Китай-Город
        — Аэропорт Шереметьево  (автобусы)","express_type":null,"transport_type":"bus","carrier":{"code":55874,"title":"ГУП
        \"Мосгортранс\"","codes":{"sirena":null,"iata":null,"icao":null}},"uid":"N1_0_9848585_4","vehicle":null,"transport_subtype":{"title":"Автобус","code":"bus","color":"#ff0000"}},"is_fuzzy":false,"platform":"","terminal":null,"days":"ежедневно","except_days":null,"stops":"","departure":"01:00","arrival":null},{"thread":{"number":"Н11","title":"м.
        Китай-Город — Аэропорт Внуково","short_title":"м. Китай-Город — Аэропорт Внуково","express_type":null,"transport_type":"bus","carrier":{"code":55874,"title":"ГУП
        \"Мосгортранс\"","codes":{"sirena":null,"iata":null,"icao":null}},"uid":"N11_0_9848585_4","vehicle":null,"transport_subtype":{"title":"Автобус","code":"bus","color":"#ff0000"}},"is_fuzzy":false,"platform":"","terminal":null,"days":"ежедневно","except_days":null,"stops":"","depa[...]
